<a href="https://colab.research.google.com/github/mszar001/CSC221_mszar001/blob/main/Assignment_26_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Makenna Szary -
CSC221A - Intro to Programming

In [7]:
#1 - Int Float String

integer = 5
float_num = 1.6
string = "Hello world"

print(f"An example of an int, or integer would be {integer}")
print(f"An example of a float would be {float_num}")
print(f"An example of a string would be the phrase {string}")

An example of an int, or integer would be 5
An example of a float would be 1.6
An example of a string would be the phrase Hello world

In [4]:
#2 - f string

print("I used one last time, but I can show one again.")
print(f"Such as it can be used to put a string like '{string}' in here.")

I used one last time, but I can show one again.
Such as it can be used to put a string like 'Hello World' in here.

In [9]:
#3 - String Class

print(f"Original string: {string}")
print(f"Lowercase string: {string.lower()}")
print(f"Capitalized string: {string.upper()}")
print(f"First Letter Capitalized string: {string.title()}")

Original string: Hello world
Lowercase string: hello world
Capitalized string: HELLO WORLD
First Letter Capitalized string: Hello World

In [29]:
#4 - Lists
small_list = [1, 5, 7, 2, 0, 6]
for numbers in small_list:
  print(numbers)

1
5
7
2
0
6

In [27]:
#5 - List of Lists
bigger_list = [1,5,small_list, [2,8,4]]
for items in bigger_list:
  print(items)

print(f"One variable from a list in the list is: {bigger_list[2][2]}")

1
5
[1, 5, 7, 2, 0, 6]
[2, 8, 4]
One variable from a list in the list is: 7

In [34]:
#6 - Sorted List

print(f"Normal list: {small_list}")
print(f"Sorted list: {sorted(small_list)}")
print(f"Unchanged list: {small_list}")

Normal list: [1, 5, 7, 2, 0, 6]
Sorted list: [0, 1, 2, 5, 6, 7]
Unchanged list: [1, 5, 7, 2, 0, 6]

In [38]:
#7 - For and Range

for num in range(8):
  print(num)

0
1
2
3
4
5
6
7

In [ ]:
#8 - Squares not divisible by 7

for num in range(1000):
  if ((num*num) % 7) == 0:
    continue
  else:
    print(num*num)

In [49]:
#9 - Sieve of Eratosthenes

def SieveOfEratosthenes(num):
  primes = []
  prime = [True for i in range(num+1)]
  p = 2
  while(p*p <= num):
    if (prime[p] == True):
      for i in range(p*p,num+1,p):
        prime[i] = False
    p += 1

  for p in range(2,num+1):
    if prime[p]:
      primes.append(p)
  return primes

print(SieveOfEratosthenes(1000))
print

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
#10 - Generator (Not exactly how you showed it, but I think it works the same?)

def my_prime_generator(num):
  primes = []
  Sieve = list(SieveOfEratosthenes(10000))
  for nums in range(num):
    primes.append(Sieve[nums])
  return primes

my_prime_generator(200)

In [68]:
#11 - Random Integers
import random

randomNums = []
for num in range(1000):
  randomNums.append(random.randint(0,1000))

avgOfRandomNums = (sum(randomNums))/(len(randomNums))

print(f"original list: {randomNums}")
print(f"Sum of list: {sum(randomNums)}")
print(f"Smallest in list: {min(randomNums)}")
print(f"largest in list: {max(randomNums)}")
print(f"The average in list: {avgOfRandomNums}")

original list: [233, 487, 316, 145, 637, 329, 403, 470, 749, 878, 590, 971, 290, 728, 76, 127, 624, 248, 195, 440, 971, 499, 543, 410, 985, 106, 817, 65, 465, 777, 705, 543, 804, 520, 782, 77, 569, 260, 836, 209, 214, 792, 199, 670, 921, 518, 160, 680, 35, 778, 244, 648, 683, 203, 493, 947, 907, 489, 851, 641, 627, 933, 131, 330, 293, 118, 661, 75, 93, 648, 438, 546, 265, 138, 86, 857, 130, 899, 949, 681, 615, 572, 870, 409, 389, 927, 120, 956, 850, 520, 24, 39, 294, 347, 93, 942, 362, 989, 376, 513, 654, 426, 801, 590, 818, 78, 893, 358, 462, 653, 997, 387, 370, 485, 293, 220, 192, 44, 855, 710, 721, 179, 841, 968, 543, 398, 187, 517, 236, 109, 584, 488, 257, 460, 911, 691, 782, 292, 871, 999, 107, 962, 389, 873, 863, 811, 991, 645, 213, 250, 758, 799, 950, 261, 656, 933, 463, 996, 127, 208, 363, 7, 663, 938, 328, 874, 184, 212, 922, 596, 103, 686, 794, 638, 827, 449, 128, 159, 812, 61, 836, 755, 759, 525, 758, 721, 403, 551, 953, 260, 83, 161, 658, 514, 587, 528, 682, 98, 220, 291, 0, 427, 665, 877, 189, 129, 130, 402, 917, 602, 371, 889, 341, 700, 770, 415, 328, 930, 159, 544, 362, 537, 39, 510, 546, 779, 727, 821, 90, 977, 608, 117, 332, 759, 207, 791, 842, 903, 678, 266, 304, 786, 616, 367, 150, 16, 491, 930, 963, 454, 385, 185, 690, 285, 106, 476, 773, 62, 495, 704, 388, 489, 488, 904, 794, 27, 637, 636, 212, 474, 189, 725, 686, 989, 643, 583, 48, 313, 833, 772, 422, 24, 974, 907, 601, 556, 426, 615, 293, 962, 102, 544, 494, 509, 296, 749, 837, 633, 230, 905, 704, 164, 875, 103, 116, 796, 203, 973, 411, 33, 783, 963, 315, 535, 615, 581, 184, 120, 288, 357, 30, 203, 798, 472, 31, 956, 640, 357, 722, 173, 789, 362, 145, 673, 237, 945, 796, 784, 922, 191, 841, 79, 670, 860, 598, 145, 524, 595, 771, 905, 112, 919, 903, 130, 320, 18, 766, 471, 374, 578, 197, 924, 410, 685, 951, 514, 38, 769, 395, 258, 163, 982, 367, 225, 407, 819, 884, 316, 119, 841, 604, 167, 677, 704, 473, 77, 540, 794, 79, 966, 357, 642, 588, 809, 718, 852, 254, 281, 341, 62, 138, 596, 759, 22, 808, 522, 178, 621, 623, 712, 911, 630, 351, 97, 213, 460, 99, 124, 733, 158, 22, 139, 43, 386, 446, 265, 903, 891, 36, 675, 575, 975, 149, 552, 256, 385, 128, 460, 323, 120, 82, 33, 729, 348, 319, 476, 320, 399, 710, 541, 23, 485, 460, 491, 310, 535, 381, 977, 505, 131, 737, 267, 547, 322, 724, 708, 755, 873, 529, 354, 815, 682, 244, 693, 879, 361, 12, 467, 312, 504, 352, 682, 157, 925, 782, 805, 599, 896, 827, 233, 331, 450, 424, 740, 650, 702, 218, 588, 37, 257, 769, 995, 502, 136, 235, 739, 329, 695, 529, 677, 698, 807, 122, 259, 413, 984, 504, 397, 540, 122, 470, 592, 476, 484, 316, 835, 496, 623, 769, 914, 390, 30, 545, 930, 85, 752, 232, 897, 311, 944, 530, 219, 955, 345, 48, 384, 27, 42, 652, 974, 519, 202, 708, 595, 526, 341, 762, 222, 661, 836, 351, 105, 978, 189, 96, 688, 909, 732, 182, 5, 286, 846, 618, 170, 609, 385, 576, 939, 183, 921, 24, 301, 33, 497, 206, 464, 339, 279, 477, 990, 844, 909, 452, 119, 294, 210, 950, 173, 34, 125, 169, 326, 882, 751, 205, 683, 697, 251, 689, 812, 756, 386, 532, 196, 715, 439, 415, 782, 822, 600, 861, 717, 77, 489, 61, 870, 221, 541, 912, 499, 118, 608, 28, 395, 9, 344, 170, 6, 631, 346, 754, 237, 443, 215, 58, 313, 133, 79, 918, 528, 714, 347, 405, 148, 228, 599, 614, 352, 265, 904, 246, 295, 520, 401, 27, 17, 616, 118, 873, 573, 736, 47, 939, 611, 613, 736, 449, 37, 226, 701, 640, 181, 314, 935, 386, 395, 849, 62, 261, 744, 902, 268, 386, 576, 362, 959, 232, 118, 381, 966, 75, 981, 473, 712, 747, 347, 561, 834, 337, 831, 481, 713, 696, 770, 994, 597, 124, 37, 312, 225, 175, 935, 13, 713, 65, 710, 982, 738, 881, 792, 718, 347, 99, 187, 647, 293, 291, 293, 557, 253, 101, 248, 2, 28, 105, 915, 638, 392, 399, 91, 916, 590, 844, 638, 122, 248, 961, 631, 342, 851, 224, 6, 619, 628, 904, 135, 140, 835, 241, 525, 140, 170, 843, 471, 922, 439, 683, 924, 317, 406, 848, 52, 341, 415, 516, 513, 572, 893, 803, 278, 173, 666, 142, 439, 478, 461, 59, 212, 313, 730, 268, 423, 176, 603, 322, 519, 401, 301, 615, 624, 40, 733, 532, 539, 536, 349, 838, 176, 154, 388, 897, 441, 427, 473, 251, 735, 943, 170, 531, 761, 199, 833, 801, 95, 937, 495, 47, 42, 943, 131, 434, 455, 732, 291, 583, 961, 532, 311, 567, 76, 622, 168, 620, 560, 676, 283, 520, 872, 825, 715, 696, 375, 693, 302, 227, 926, 955, 354, 908, 414, 827, 697, 401, 821, 412, 146, 551, 846, 699, 152, 461, 799, 583, 504, 45, 186, 24, 1000, 36, 142, 711, 834, 285, 160, 383, 158, 201, 390, 533, 474, 391, 902, 48, 945, 130, 918, 736, 771, 358, 215, 842, 249, 7, 595, 983, 678, 760, 817, 510, 510, 345, 377, 650, 98, 707, 157, 564, 669, 193, 321, 982, 678, 831, 600, 709, 253, 57, 775, 642, 860, 915, 753, 904, 401, 836, 881, 241, 428, 201, 799, 5, 489, 161, 573, 296, 16, 825, 406, 420, 947, 300, 245, 300, 451, 79, 706, 600, 58, 331, 292, 584, 414, 418, 783, 984, 0, 974, 938, 953, 721, 392, 125, 501, 798, 936, 70, 758, 749, 735, 515, 327, 175, 423, 359, 741, 0, 171, 65, 528, 277]
Sum of list: 494419
Smallest in list: 0
largest in list: 1000
The average in list: 494.419

In [70]:
#12 - if elif else

def funct(num):
  if(num < 5):
    print(f"{num} is less than 5")
  elif(num < 50):
    print(f"{num} is between 5 and 50")
  else:
    print(f"{num} is 50 or higher")

funct(3)
funct(17)
funct(83)

3 is less than 5
17 is between 5 and 50
83 is 50 or higher

In [71]:
#13 - PEP-8

print("1. Truly, the thing that tends to surprise me most is how informal PEP-8 is.")
print("2. PEP-8 says four spaces makes an indentation while we tend to only use 2 here")
print("Also, just the general preference of spaces versus tabs.")
print("3. How specific so many of these pieces are..")
print("And how much I probably don't follow PEP-8 is another surprise I guess.")

1. Truly, the thing that tends to surprise me most is how informal PEP-8 is.
2. PEP-8 says four spaces makes an indentation while we tend to only use 2 here
Also, just the general preference of spaces versus tabs.
3. How specific so many of these pieces are..
And how much I probably don't follow PEP-8 is another surprise I guess.

In [76]:
#14 - File
%%file testfile.txt
Amy, cat
Fred, dog
Hunter, dog
Peena, parakeet
Rover, dog

Overwriting testfile.txt

In [81]:
#15 - File pt2

with open('testfile.txt', 'r') as file1:
    lines = file1.readlines()
    pets = {}
    for line in lines:
        key, value = line.strip().split(',')
        pets[key] = value

print(pets['Amy'])
print(pets['Rover'])
print(pets['Peena'])

 cat
 dog
 parakeet

In [85]:
#16 - Sets

listofPets = []
for pet in pets:
  listofPets.append(pets[pet])

typesofPets = set((listofPets))
print(typesofPets)

{' cat', ' dog', ' parakeet'}

In [87]:
#17 - While

num = 80
while(num >= 16):
  print(num)
  num = num - 8

80
72
64
56
48
40
32
24
16

In [90]:
#18 - Tuple

def MinMaxSum(one, two, three):
  nums = [one, two, three]
  lowest = min(nums)
  highest = max(nums)
  added = sum(nums)
  result = (lowest, highest, added)
  return result

print(MinMaxSum(5, 18, 2))

(2, 18, 25)

In [121]:
#19 - MinMaxSum but any number

def MinMaxSum2(*args):
  nums = []
  for number in args:
    nums.append(number)
  lowest = min(nums)
  highest = max(nums)
  added = sum(nums)
  result = (lowest, highest, added)
  return result

print(MinMaxSum2(5,2))
print(MinMaxSum2(7, 1, 19, 12, 5))

(2, 5, 7)
(1, 19, 44)

In [122]:
#20 - Decorator

def traceroo(func):
  print(f"In the function {func.__name__}, it takes all all arguments given")
  print(f"And then put it into the 'nums' list.")
  print(f"After this, I put the correct values into the variables of")
  print(f"'lowest' with the use of min()")
  print(f"'highest' with the use of max()")
  print(f"and 'added' with the use of sum()")
  print(f"Then the variables are placed into the 'result' tuple...")
  print(f"Which is then returned.")

traceroo(MinMaxSum2)

In the function MinMaxSum2, it takes all all arguments given
And then put it into the 'nums' list.
After this, I put the correct values into the variables of
'lowest' with the use of min()
'highest' with the use of max()
and 'added' with the use of sum()
Then the variables are placed into the 'result' tuple
Which is then returned.

In [137]:
#21 - Class

class Class():
  def __init__(self, value1):
    self.value1 = value1

  def __add__(self, value2):
    return Class(self.value1 + value2.value1)

  def __repr__(self):
    return f'Class(name={self.value1})'
#    return f'Class("{self.value1}")'

  def __str__(self):
    return f'Value is {self.value1}'

obj1 = Class("one")
obj2 = Class("two")
obj3 = obj1 + obj2
print(obj3.__str__())
print(obj3.__repr__())

Value is onetwo
Class(name=onetwo)

In [149]:
#22 - Digits of pi

from pathlib import Path

path = Path('pi_digits.txt')
contents = path.read_text()

lines = contents.splitlines()
pi_string = ''
for line in lines:
  pi_string += line.strip()

birthday = input("Enter birthday in the form mmddyy: ")
if birthday in pi_string:
  print("Your birthday is in the first million digits of pi")
else:
  print("Your birthday is not in the first million digits of pi")

#mine apparently isnt

Enter birthday in the form mmddyy: 082504
Your birthday is not in the first million digits of pi